@model CloneProm.Models.Product

<h2>Create Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Discount" class="form-label"></label>
        <input asp-for="Discount" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Product Image</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select"></select>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>
